@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');

body {
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5;
}
ul {
  list-style: none;
}
/* リストの矢印 */
.arrow::after {
  content: "";
  background-image: url(https://www.nri.com/static/common/images/icon-chevronRight.svg);
  width: 8px;
  height: 10px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 2.5px 50%;
  color: #000;
}


/* --ヘッダー-- */
/* ヘッダートップ */
header .header-top {
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  line-height: 21px;
  font-feature-settings: "palt";
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .header-top .global-navi ul li {
  float: left;
  margin: 0 10px;
}
header .header-top .global-navi ul li:last-child {
  margin-right: 30px;
}
header .header-top .global-navi ul:after {
  content: "";
  clear: both;
  display: block;
}
header .header-top .global-navi ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 19.5px 0;
}
header .header-top .global-navi ul li a:hover {
  color: #0c419a;
  border-bottom: 2px solid #005BAC;
}
header .header-top .header-logo{
  float: left;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 56px;
  height: 30px;
  fill: #005BAC;
  padding-left: 36px;
}
header .header-top .navi-right {
  float: right;
}
header .header-top:after {
  content: "";
  clear: both;
  display: block;
}
header .header-top .global-navi ul {
  padding: 0;
  margin: 0;
}
header .header-top .navi-right .global-navi {
  float: left;
}
header .header-top .navi-right:after {
  content: "";
  clear: both;
  display: block;
}
/* header .header-top .navi-right .other-navi img {
  padding-left: 36px;
} */
/* header .header-top .navi-right .other-navi a {
  margin: 0 20px 0 36px;
} */
header .header-top .navi-right .img-center {
  width: 56px;
  height: 60px;
  position: relative;
  float: left;
}
header .header-top .navi-right .img-center img,
header .header-top .navi-right .img-center .menu-trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .header-top .navi-right .img-center .img-link {
  width: 56px;
  height: 60px;
  display: block;
}
header .header-top .navi-right .img-center:hover {
  opacity: 0.6;
}

/* ハンバーガーメニュー */
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  /* transition: all .4s; */
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 20px;
  height: 19px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 8px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/* パンくずリスト */
header .breadcrumb a,
header .breadcrumb {
  font-size: 12px;
  color: #999;
  text-decoration: none;
}
header .breadcrumb {
  margin: 0 0 30px 85px;
  padding-top: 60px;
}


/* --ボディー-- */
.contentbody {
  width: 1000px;
  margin: 0 auto;
}

/* メインビジュアル */
.maincontent .mainvisual img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.maincontent .mainvisual .mainvisual-text p {
  font-size: 20px;
  line-height: 1.4;
  color: #fff;
}
.maincontent .mainvisual .mainvisual-text h1 {
  font-size: 28px;
  color: #fff;
}
.maincontent .mainvisual .mainvisual-text {
  position: absolute;
  left: 220px;
  top: 20px;
}
.maincontent .mainvisual {
  position: relative;
  margin-bottom: 30px;
}

/* snsシェアボタン */
.maincontent .contentbody .share-btn a img {
  width: 24px;
  height: 24px;
  vertical-align: bottom;
}
.maincontent .contentbody .share-btn::before {
  content: "Share";
  color: #666;
  font-size: 12px;
  font-family: arial;
  font-weight: bold;
  vertical-align: middle;
  padding-bottom: 3px;
  display: inline-block;
}
.maincontent .contentbody .share-btn a {
  margin-left: 20px;
  display: inline-block;
}
.maincontent .contentbody .content-right .share-btn {
  position: absolute;
  right: 0;
}
.maincontent .contentbody .content-right {
  position: relative;
  height: 24px;
  margin: 0 100px 40px 100px;
}

/* 記事本文 */
.maincontent .contentbody .article-body {
  padding: 0 100px;
  line-height: 1.875;
}
.maincontent .contentbody .article-body h2 {
  color: #000;
  font-size: 22px;
  line-height: 33px;
  margin-top: 0;
  margin-bottom: 32px;
}
.maincontent .contentbody .article-body h2::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background-image: url(https://www.nri.com/static/common/images/bg-heading-h2.png);
  -webkit-background-size: cover;
  background-size: contain;
  vertical-align: middle;
  margin-right: 12px;
}
.maincontent .contentbody .article-body img {
  width: 800px;
  display: block;
  margin: 30px 0;
}
.maincontent .contentbody .article-body .download-btn {
  background-color: #005BAC;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #fff;
  line-height: 19px;
  padding: 15px;
  width: 296px;
  height: 70px;
  margin-left: 252px;
  box-sizing: border-box;
  margin-bottom: 90px;
  position: relative;
}
.maincontent .contentbody .article-body .download-btn:hover {
  background-color: #407cbe;
  transition: all 0.2s ease;
}
.maincontent .contentbody .article-body .download-btn::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(https://www.nri.com/static/common/images/icon-pdf.svg);
  margin-left: 10px;
}
.maincontent .contentbody .article-body .download-btn::before {
  content: "";
  width: 5px;
  height: 10px;
  background-size: contain;
  background-image: url(images/maincontent/right-arrow-white.svg);
  display: inline-block;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 10px;
}

/* 次の記事と前の記事へのリンク */
.maincontent .contentbody .article-body .ta-left {
  text-align: left;
  float: left;
  margin-top: 0;
}
.maincontent .contentbody .article-body .ta-right {
  text-align: right;
  float: right;
  margin-top: 0;
}
.maincontent .contentbody .article-body .link-prev-next:after {
  content: "";
  display: block;
  clear: both;
}
.maincontent .contentbody .article-body .ta-left a,
.maincontent .contentbody .article-body .ta-right a {
  text-decoration: none;
  color: #0c419a;
}
.maincontent .contentbody .article-body .ta-left::before {
  content: "<";
}
.maincontent .contentbody .article-body .ta-right::after {
  content: ">";
}
.maincontent .contentbody .article-body .ta-left a {
  padding-left: 5px;
}
.maincontent .contentbody .article-body .ta-right a {
  padding-right: 5px;
}
.maincontent .contentbody .article-body .link-prev-next {
  margin-bottom: 30px;
}

/* NRIの強みのリンク */
.maincontent .contentbody .article-body .nri-strongness .strongness-list a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.1875;
  color: #0c419a;
  display: inline-block;
}
.maincontent .contentbody .article-body .nri-strongness p {
  font-size: 16px;
  line-height: 1.1875;
  font-weight: bold;
  margin-top: 0;
}
.maincontent .contentbody .article-body .nri-strongness {
  background-color: #DEECF8;
  padding: 30px 20px 40px 20px;
  margin-bottom: 65px;
}
.maincontent .contentbody .article-body .nri-strongness .strongness-list p {
  background-color: #fff;
  font-weight: normal;
  width: 240px;
  border: 1px solid #ccc;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  padding: 15px 20px;
  background-image: url(https://www.nri.com/static/common/images/icon-chevronRight.svg);
  background-repeat: no-repeat;
  background-size: 8px 10px;
  background-position: 8px 50%;
}
.maincontent .contentbody .article-body .nri-strongness .strongness-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 140px;
}
.maincontent .contentbody .article-body .nri-strongness .strongness-list .h70 {
  height: 70px;
  line-height: 2.3;
}
.maincontent .contentbody .article-body .nri-strongness .strongness-list p:hover {
  background-color: #f4f4f4;
  transition: all 0.3s ease;
}

/* 企業情報リンク */
.maincontent .contentbody .article-footer h2 {
  font-size: 20px;
  line-height: 38px;
  margin-bottom: 25px;
  margin-top: 125px;
  padding-top: 20px;
  border-top: 2px solid  #000;
}
.maincontent .contentbody .article-footer .company-links h3 {
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.maincontent .contentbody .article-footer .company-links ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #0c419a;
  padding-left: 15px;
  display: block;
}
.maincontent .contentbody .article-footer .company-links ul li a:hover {
  text-decoration: underline;
}
.maincontent .contentbody .article-footer .company-links ul {
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.maincontent .contentbody .article-footer .company-links ul li {
  width: 240px;
  margin: 0 13.3px 20px 0 ;
  background-image: url(https://www.nri.com/static/common/images/icon-chevronRight.svg);
  background-repeat: no-repeat;
  background-size: 3px 10px;
  background-position: 0 50%;
}
.maincontent .contentbody .article-footer .company-links ul li:nth-child(4n) {
  margin-right: 0;
}
.maincontent .contentbody .article-footer .company-links {
  border-top: 1px dotted  #999;
  padding-bottom: 10px;
}
.maincontent .contentbody .article-footer .company-links ul .prevpage a {
  font-size: 16px;
  line-height: 30px;
}
.maincontent .contentbody .article-footer .company-links ul .prevpage {
  margin-top: 63px;
  margin-bottom: 90px;
  background-image: url(https://www.nri.com/static/common/images/icon-chevronLeft.svg);
}

/* フォローアス */
.maincontent .nri-links .follow-us .follow-us-content a .btn-follow {
  width: 28px;
  height: 28px;
  vertical-align: bottom;
}
.maincontent .nri-links .follow-us .follow-us-content h2 {
  font-size: 20px;
  margin: 0;
  font-family: 'HelveticaNeue', 'Noto Sans JP', sans-serif;
}
.maincontent .nri-links .follow-us .follow-us-content {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  border: solid #999;
  border-width: 2px 0 ;
  padding: 30px 0;
}
.maincontent .nri-links .follow-us .follow-us-content h2,
.maincontent .nri-links .follow-us .follow-us-content a {
  margin-right: 40px;
}
.maincontent .nri-links .follow-us .follow-us-content a:nth-of-type(3) {
  margin-right: 0;
}

/* nriリンク */
.maincontent .nri-links .nri-detail-links ul li h3 {
  font-size: 16px;
  margin-bottom: 20px;
}
.maincontent .nri-links .nri-detail-links ul li {
  font-size: 14px;
  margin-bottom: 15px;
  width: 315px;
  background-image: url(https://www.nri.com/static/common/images/icon-chevronRight.svg);
  background-repeat: no-repeat;
  background-size: 3px 10px;
  background-position: 0 50%;
}
.maincontent .nri-links .nri-detail-links ul li a {
  text-decoration: none;
  color: inherit;
  padding-left: 15px;
}
.maincontent .nri-links .nri-detail-links ul li a:hover {
  text-decoration: underline;
}
.maincontent .nri-links .nri-detail-links ul {
  padding: 0;
  margin: 0;
}
.maincontent .nri-links .nri-detail-links {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.maincontent .nri-links .nri-detail-links section {
  margin: 30px 0;
}

/* フッター */
footer {
  border-top: 1px solid #ccc;
  margin-top: 10px;
}
footer .footer-content {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0 115px 0;
}
footer .footer-content .agreement-link p a {
  text-decoration: none;
  color: #999;
  font-size: 12px;
  display: block;
}
footer .footer-content .agreement-link p a:hover {
  text-decoration: underline;
}
footer .footer-content small {
  font-size: 10px;
  line-height: 19px;
  font-family: 'HelveticaNeue', 'Noto Sans JP', sans-serif;
}
footer .footer-content .agreement-link {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
footer .footer-content .agreement-link p {
  padding: 0 18px;
  border-right: 1px solid #999;
  line-height: 1;
}
footer .footer-content .agreement-link p:first-child {
  padding-left: 0;
}
footer .footer-content .agreement-link p:last-child {
  padding-right: 0;
  border-right: none;
}
