@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');

body {
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
}
ul {
  list-style: none;
}


/* --ヘッダー-- */
/* ヘッダートップ */
header .header-top {
  background-color: #ccc;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  line-height: 21px;
  font-feature-settings: "palt";
}
header .header-top .global-navi ul li {
  float: left;
  padding: 0 10px;
}
header .header-top .global-navi ul:after {
  content: "";
  clear: both;
  display: block;
}
header .header-top .header-logo{
  float: left;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
header .header-top .navi-right {
  float: right;
  padding: 17.5px 0 0;
}
header .header-top:after {
  content: "";
  clear: both;
  display: block;
}
header .header-top {
  height: 60px;
  position: relative;
}
header .header-top .global-navi ul {
  padding: 0;
  margin: 0;
}
header .header-top .navi-right .global-navi {
  float: left;
}
header .header-top .navi-right .other-navi {
  float: right;
}
header .header-top .navi-right:after {
  content: "";
  clear: both;
  display: block;
}
header .header-top .navi-right .other-navi img {
  padding-left: 40px;
}

/* ハンバーガーメニュー */
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 20px;
  height: 20px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 8px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
